
 .movies-row {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 20px 0;
}

.movie {
  margin-right: 15px;
  text-align: center;
  transition: transform 0.8s;
}

.movie-poster {
  width: 299px;
  height: 160px;
  object-fit: cover;
}
.movie-poster:hover {
  transform: scale(1.08);
}
.movie-poster-lg {
  width: 299px;
  height: 399px;
}
