/* header styles */
.temune {
    display: flex;
    justify-content: space-between;
    align-items: center;
     background: linear-gradient(0deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 40%), rgba(0, 0, 0, 1.5));
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

/* Background color when navBackground is true */
.nav-background {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Content styling */
.temune-content {
  margin-left: 50px;
}
.temune-content ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.temune-content li {
    margin-right: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.temune-content li img {
    display: block;
    margin-right: 10px;
}

.netCar {
    width: 30px;
    height: 30px;
}

/* Icons styling */
.temune-icons {
  margin-right: 50px;
}
.temune-icons ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.temune-icons li {
    margin-left: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
